@model IEnumerable<Sales.Common.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<p>
   
    <a href="@Url.Action("Create","Products")" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i>&nbsp; Create New</a>
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.ImagePath))
            {
                <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishOn)
        </td>
        <td>
            <a href="@Url.Action("Edit","Products", new {id = item.ProductId })" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> </a>
            <a href="@Url.Action("Details","Products", new {id = item.ProductId })" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
            <a href="@Url.Action("Delete","Products", new {id = item.ProductId })" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>

        </td>
    </tr>
}

</table>
